body {
  padding: 0%;
  margin: 0%;
  background-color: hsl(225deg, 100%, 94%);
}

* {
  font-family: "Red Hat Display", sans-serif;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
  padding-top: 100px;
  background: hsl(224deg, 23%, 88%);
}
@media screen and (max-width: 768px) {
  section {
    background: hsl(225deg, 100%, 94%);
  }
}

.curve {
  position: absolute;
  height: 250px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.curve::before {
  content: " ";
  display: block;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(85%, 60%);
  background-color: hsl(225deg, 100%, 94%);
}

.curve::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: hsl(224deg, 23%, 88%);
  top: 0rem;
  transform: translate(-4%, 40%);
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .curve::after {
    background: hsl(225deg, 100%, 94%);
  }
}

.card {
  background-color: white;
  height: 450px;
  position: absolute;
  width: 300px;
  border-radius: 1rem;
}

.hero-img img {
  width: 300px;
  border-radius: 1rem 1rem 0 0;
}

.script-block {
  text-align: center;
}

.script-block h1 {
  color: hsl(223deg, 47%, 23%);
  font-weight: 900;
  font-size: 1.2rem;
}

.script-block p {
  font-size: 0.8rem;
  color: hsl(224deg, 23%, 88%);
  padding-left: 1rem;
  padding-right: 1rem;
  color: hsl(224deg, 23%, 55%);
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .script-block p {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.annual-plan {
  background-color: hsl(224deg, 23%, 98%);
  width: 250px;
  height: 75px;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.annual-plan svg {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.price-block {
  text-align: center;
  padding-top: 1.4rem;
  gap: 0.1rem;
}

.price-block h2 {
  font-size: 0.7rem;
  color: hsl(223deg, 47%, 23%);
  margin: 0;
}

.price-block p {
  font-size: 0.7rem;
  color: hsl(224deg, 23%, 55%);
  margin: 0.2rem;
  font-weight: 100;
}

.change {
  margin-top: -1.7rem;
}

.change a {
  font-size: 0.6rem;
  color: hsl(245deg, 75%, 52%);
  font-weight: 600;
  margin-left: 12rem;
  margin-bottom: 1rem;
}

.payment-button button {
  margin-left: 2rem;
  margin-top: 1rem;
  background-color: hsl(245deg, 75%, 52%);
  font-weight: 600;
  font-size: 0.8rem;
  color: white;
  width: 240px;
  height: 35px;
  border-radius: 0.5rem;
  border: none;
  box-shadow: -1px -4px 42px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: -1px -4px 42px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: -1px -4px 42px 2px rgba(0, 0, 0, 0.24);
}
@media screen and (max-width: 768px) {
  .payment-button button {
    height: 50px;
    font-size: 0.9rem;
  }
}

.payment-button p {
  color: hsl(224deg, 23%, 55%);
  text-align: center;
  font-size: 0.7rem;
  font-weight: 700;
  top: 1rem;
}
@media screen and (max-width: 768px) {
  .payment-button p {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
